body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
.logo{
  width: 150px;
  height: 50px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.search-bar {
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    transition: all 0.3s ease-in-out;
}
.search-bar:focus {
    border-color: #00bcd4;
}
.navbar .nav-links a {
  margin-right: 1rem;
  text-decoration: none;
  color: #333;
}
.navbar .login-button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}
.logo {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 30px;
  img
  {
    border-radius: 30px;
  }
}
.section {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.space{
  height: 200rem;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-image: url('https://images.pexels.com/photos/2983101/pexels-photo-2983101.jpeg');
  background-size: cover;
  background-position: center;
  height: 400px;
  padding-left: 20px;
  color: #fff;
}
.banner-content {
  display: flex;
  flex-direction: column;
}
.banner-top-tagline {
  font-size: 1.75rem;
  color: #ff6347;
  margin: 0;
  margin-bottom: 10px;
}
.banner-title {
  font-size: 3rem;
  margin: 0;
}
.banner-tagline {
  font-size: 1rem;
  margin: 0;
  margin-top: 10px;
}
.banner button {
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #ff6347;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.banner button:hover {
  background-color: #000000;
}
.links {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background-color: #2b2b2b;
  color: #fff;
  border-radius: 10px;
}
.content {
  flex: 1;
  margin-right: 20px;
}
.content h3 {
  font-size: 1.2rem;
  color: #f28b82;
  margin-bottom: 15px;
}
.content p {
  font-size: 0.9rem;
  color: #ccc;
  line-height: 1.5;
}d
.content ul {
  list-style: none;
  padding: 0;
}
.content li {
  margin-bottom: 10px;
}
.content a {
  text-decoration: none;
  color: #ccc;
  font-size: 0.9rem;
}
.content a:hover {
  color: #f28b82;
}
.social-links {
  display: flex;
  gap: 10px;
}
.social-links a {
  color: #ccc;
  font-size: 1.2rem;
  transition: color 0.3s;
}
.social-links a:hover {
  color: #f28b82;
}